{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
		"@semantic-release/release-notes-generator",
		{
		  "writerOpts": {
            "timeZone": "Pacific/Honolulu"
          }
		}
	],
    [
      "@semantic-release/changelog", 
      {
        "changelogTitle": "# Changelog!"
      }
    ],
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
