{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
		"@semantic-release/release-notes-generator",
		{
		  "writerOpts": {
			"date": "dd-mm-yyyy",
            "timeZone": "Australia/Brisbane"
          }
		}
	],
	
    [
      "@semantic-release/changelog", 
      {
        "changelogTitle": "# Changelog!",
		"writerOpts": {
          "date": "dd-mm-yyyy",
          "timeZone": "Australia/Brisbane"
        }
      }
    ],
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
