{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    {
      "path": "@semantic-release/changelog",
      "changelogFile": "CHANGELOG.md",  # Specify the changelog file
      "changelogTitle": "# Changelog",  # Customize the title of your changelog section
      "changelogHeader": "## Release Notes",  # Customize the header for each release
      "changelogFooter": "### End of changelog"  # Add a footer
    },
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
